// Copyright © 2017 seitenwind

.avia_transform3d
{
    #mobile-advanced
    {
        border-bottom: 11px solid $color-primary;
        border-left: 0;
        background: $color-light-grey;
        list-style: none;

        left: 100%;

        .sub-menu
        {
            list-style: none;
        }

        @include supports-backdrop-filter
        {
            background: transparentize($color-light-grey, .1);
            @include backdrop-filter(blur(10px));
        }

        @include transform(scale(1.0));

        &:after
        {
            position: absolute;
            z-index: 112;
            bottom: -45px;

            width: 100%;
            height: 35px;

            content: ' ';

            background: url("../../../../resources/images/background-section.jpg");
        }

        .menu-item
        {
            font-family: $font-family-work-sans;

            letter-spacing: 1px;
            text-transform: uppercase;

            &:first-child > a:first-child
            {
                border: 0;
            }

            a
            {
                border: 0;
                &:before
                {
                    top: 50%;

                    @include transform(translateY(-50%));
                }
            }
        }
    }

    .show_mobile_menu #mobile-advanced
    {
        @include transform(none);
        left: 2px;
    }
}
