// Copyright © 2017 seitenwind

$color-primary: #009B4E;
$color-text-default: #000000;
$color-text-light: #FFFFFF;
$color-light-grey: #ECECE7;
$color-paper: #FFFFFF;

$color-accent-green: #B6C700;
$color-accent-yellow: #F7A600;
$color-accent-red: #EA4F44;
$color-accent-blue: #29A4A2;
