#footer,
#footer div .flex_column {
    z-index: auto;
}

#top .flex_column .template-blog .post-entry .post-title {
    margin-bottom: 0.5em;
    line-height: 1;
    text-align: center;
    padding: 0.5em;
}

#top .flex_column .template-blog .post-entry .more-link {
    margin-top: 1em;
}

.hw-eye-catcher-container {
    margin: 2em;
}

body div .avia-button.avia-size-small {
    margin-top: 1em;
    margin-bottom: 2em;
}

.post-meta-infos .date-container {
    margin-top: 1em;
}

@media screen and (max-width: 500px) {
	#newsletter-teaser {
		display: none;
	}
}
@media screen and (min-width: 500px) {
	
	#newsletter-mobile-teaser {
		display:none;
	}
	
#custom_html-2 {
    position: fixed;
    top: 50%;
    z-index: 999999;
    right: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);

    margin: 0 !important;
}

.cta {}

.newsletter-sidebar {
    height: 400px;
    background: #009B4E;
    width: 60px;
    padding: 10px !important;
}

.newsletter-sidebar.active {
    width: 100%;
}


.newsletter-sidebar.active .teaser {
    vertical-align: top;
}

.newsletter-sidebar .teaser {
    width: 80px;
    cursor: pointer;
    display: table-cell;
    height: 400px;
    padding-top: 100px;
}

.newsletter-sidebar .teaser img {
	height: 200px;
}

.newsletter-sidebar .formular {
    width: 400px;
    display: table-cell;
    overflow: hidden;
	vertical-align: top;
}

.newsletter-sidebar h3 {
    line-height: 1;
    width: 80%;
    margin: 1em auto;
}

.newsletter-sidebar .horizontal-line {
    display: block;
    border-top: 5px solid #fff;
    width: 100px;
    margin: 1em auto;
}

.newsletter-sidebar input {
    width: 90%;
    height: 50px;
}

.yikes-easy-mc-form {
    width: 80% !important;
    margin: auto;
}

.yikes-mailchimp-container .yikes-easy-mc-form .yikes-easy-mc-submit-button {
    margin: 0 auto;
    margin-top: .5em;
    width: 80%;
}

.yikes-mailchimp-eu-compliance-label {
    font-size: 0.7em;
}

.yikes-mailchimp-eu-compliance-label input {
    width: auto;
    height: auto;
}

.newsletter-sidebar button {
    height: 50px;
    margin: 1em;
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    font-family: "WorkSans", sans-serif;
    font-weight: 100;
    font-size: 1em;
    padding: 1em;
    width: 40%;
}

.facebook-sidebar,
.mail-sidebar {
    height: 60px;
    margin-top: 20px;
}

.facebook-box,
.mail-box {
    position: absolute;
    height: 60px;
    width: 60px;
    right: 0;
    background: #009B4E;
}

.facebook-box:before {
    font-family: entypo-fontello, sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    color: #FFF;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-size: 30px;
}

.mail-box:before {
    font-family: entypo-fontello, sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    color: #FFF;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-size: 30px;
}
}

#wochenwelt-iframe {
	margin-top: -6em;
}

.ellipse {
    img {
        width: 100%;
        height: auto;
    }
    .blog-categories {
        display: none;
    }
    h3 {
        text-align: center;
        font-size: 20px !important;
        line-height: 1 !important;
        margin-bottom: .5em;
        padding: .5em;
    }
    .entry-content {
        line-height: 1.5;
        letter-spacing: 1px;
    }
    .slide-meta {
        display: none;
    }
    .more-link-arrow {
        display:none;
    }
    .more-link {
        text-transform: uppercase;
        text-decoration: none;
        line-height: 1.375em;
        letter-spacing: 1px;
        font-size: 11px;
        font-weight: 600;
        margin-top: 1em;
    }

}