// Copyright © 2017 seitenwind

$font-size-default: 16px; // assume that 1pt is exactly 1px
$line-height-text-default: 1.375em; // line height in illustrator is between 1.35 and 1.4
$letter-spacing-default: 1px; // corresponds to 100 in illustrator

$screen-sm: 768px - 1px;
$screen-md: 990px - 1px;
$screen-lg: 1600px - 1px;

@mixin text-style-default()
{
    font-size: $font-size-default;
    line-height: $line-height-text-default;
    letter-spacing: $letter-spacing-default;
}
