// Copyright © 2017 seitenwind

*[data-av_icon] {
    &:before
    {
        content: attr(data-av_icon);
    }
}

.inline-icon
{
    &:before
    {
        content: attr(data-icon);
        font-family: $font-family-entypo-fontello;
        padding-right: 5px;
    }
}

