// Copyright © 2017 seitenwind

@include max-width-sm
{
    .footer-address {
        font-size: 11px;
    }

    .footer-address .footer-address-line {
        display: block;
    }

    .footer-address .divider
    {
        display: none;
    }
}
