// Copyright © 2017 seitenwind

#footer.footer_color
{
    padding: 40px 0;

    text-align: center;

    color: $color-paper;
    background: url('../resources/images/background-section.jpg') repeat;
}
