// Copyright © 2017 seitenwind

@mixin avia-button($color: $color-text-default) {
    font-size: convert-to-px(14pt);

    border-radius: 0;
    text-transform: none;
    border: 1px solid $color;
    color: $color;
    background: transparent;
    padding: 15px 20px;
    margin: 0;

    @include transition(all 500ms ease);

    &:hover
    {
        opacity: 0.75;

        border: 1px solid $color;
        color: $color;
        background: transparent;
    }
}

@mixin avia-button-parallax() {
    @include avia-button($color-paper);
}