// Copyright © 2017 seitenwind
//
// Renders a font stack for a given font

@mixin font-stack($font-name, $font-sources)
{
    @each $font-source in $font-sources
    {
        @font-face {
            font-family: $font-name;
            font-weight: nth($font-source, 1);
            font-style: nth($font-source, 2);
            src: nth($font-source, 3);
        }
    }
}