// Copyright © 2017 seitenwind

@mixin font($font-name, $style, $file-types, $weights)
{
	@each $weight in $weights
	{
		$src: nth($weight, 2);

		@each $file-type in $file-types
		{
			@font-face
			{
				font-family: $font-name;
				font-style: $style;
				font-weight: nth($weight,  1);
				src: url($src + "." + $file-type);
			}
		}
	}
}