// Copyright © 2017 seitenwind

@mixin horizontal-gradient($left-color, $right-color) {
	background: linear-gradient(to right, $left-color 0%, $right-color 100%); /* W3C */
	background: -ms-linear-gradient(left, $left-color 0%, $right-color 100%); /* IE10+ */
	background: -o-linear-gradient(left, $left-color 0%, $right-color 100%); /* Opera 11.10+ */
	background: -webkit-linear-gradient(left, $left-color 0%, $right-color 100%); /* Chrome10+,Safari5.1+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, $left-color), color-stop(100%, $right-color)); /* Chrome, Safari4+ */
	background: -moz-linear-gradient(left, $left-color 0%, $right-color 100%); /* FF3.6+ */
}
