// Copyright © 2017 seitenwind
//
// Reference:
// https://css-tricks.com/almanac/properties/h/hyphenate/

//noinspection CssInvalidPropertyValue
@mixin hyphenation() {
    -ms-word-break: break-all;
    word-break: break-all;

    // Non standard for webkit
    word-break: break-word;

    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}
