// Copyright © 2017 seitenwind

@mixin input-placeholder($prefix: "") {
	@if($prefix == "") {
		::-webkit-input-placeholder {
			@content;
		}

		:-moz-placeholder { /* Firefox 18- */
			@content;
		}

		::-moz-placeholder {  /* Firefox 19+ */
			@content;
		}

		:-ms-input-placeholder {
			@content;
		}
	}

	@if($prefix == "&") {
		&::-webkit-input-placeholder {
			@content;
		}

		&:-moz-placeholder { /* Firefox 18- */
			@content;
		}

		&::-moz-placeholder {  /* Firefox 19+ */
			@content;
		}

		&:-ms-input-placeholder {
			@content;
		}
	}
}