// Copyright © 2017 seitenwind

@mixin max-width($width) {
    @media (max-width: $width) {
        @content;
    }
}

@mixin max-width-xs
{
    @include max-width($screen-xs) {
        @content;
    }
}

@mixin max-width-sm
{
    @include max-width($screen-sm) {
        @content;
    }
}

@mixin max-width-md
{
    @include max-width($screen-md) {
        @content;
    }
}

@mixin max-width-lg
{
    @include max-width($screen-lg) {
        @content;
    }
}
