// Copyright © 2017 seitenwind


@mixin placeholder
{
    // Chrome / Opera / Safari
    &::-webkit-input-placeholder {
        @content;
    }

    // Firefox 19+
    &::-moz-placeholder {
        @content;
    }

    // IE 10+
    &:-ms-input-placeholder {
        @content;
    }

    // Firefox 18-
    &:-moz-placeholder {
        @content;
    }
}
