// Copyright © 2017 seitenwind

@-webkit-keyframes rotate
{
	from
	{
		-webkit-transform: rotate(0deg);
	}
	to
	{
		-webkit-transform: rotate(360deg);
	}
}

@mixin rotation() {
	-webkit-animation-name: rotate;
	animation-name: rotate;
	-webkit-animation-duration: .5s;
	-moz-animation-duration: .5s;
	animation-duration: .5s;
	-webkit-animation-timing-function: linear;
	-moz-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}