// Copyright © 2017 seitenwind

@mixin size-xs
{
	@media (min-width: $screen-xs) {
		@content;
	}
}

@mixin size-sm
{
	@media (min-width: $screen-sm) {
		@content;
	}
}

@mixin size-md
{
	@media (min-width: $screen-md) {
		@content;
	}
}

@mixin size-lg
{
	@media (min-width: $screen-lg) {
		@content;
	}
}

@mixin size($screen-size) {
	@media (min-width: $screen-size) {
		@content;
	}
}

@mixin size-($size) {
	$screen-size: $screen-xs;
	@each $key, $value in (
			"xs": $screen-xs,
			"sm": $screen-sm,
			"md": $screen-md,
			"lg": $screen-lg
	){
		@if $key == $size {
			$screen-size: $value;
		}
	}
	@media (min-width: $screen-size) {
		@content;
	}
}