// Copyright © 2017 seitenwind

@mixin vertical-gradient($top-color, $bottom-color) {
	background: linear-gradient(to bottom, $top-color 0%, $bottom-color 100%); /* W3C */
	background: -ms-linear-gradient(bottom, $top-color 0%, $bottom-color 100%); /* IE10+ */
	background: -o-linear-gradient(bottom, $top-color 0%, $bottom-color 100%); /* Opera 11.10+ */
	background: -webkit-linear-gradient(bottom, $top-color 0%, $bottom-color 100%); /* Chrome10+,Safari5.1+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $top-color), color-stop(100%, $bottom-color)); /* Chrome, Safari4+ */
	background: -moz-linear-gradient(bottom, $bottom-color 0%, $top-color 100%); /* FF3.6+ */
}
