// Copyright © 2017 seitenwind

body
{
    font-family: $font-family-montserrat;
    background: $color-light-grey;

    font-size: $font-size-default;
}

html body.boxed#top,
.responsive .boxed#top
{
    max-width: 100%;
    width: 100%;

    #wrap_all
    {
        border-top: 35px solid #eeeeea;

        max-width: 100%;
        width: 1310px;
        margin: auto;

        @include max-width-md
        {
            width: 782px;
        }
    }
}