// Copyright © 2017 seitenwind

@for $i from 1 through 6
{
    h#{$i},
    .template-page .template-blog .entry-content-wrapper h#{$i}
    {
        font-family: $font-family-work-sans;
        font-weight: 600;
        text-transform: uppercase;
    }
}

h1
{
    font-size: convert-to-px(60pt);
}

h2
{
    font-size: convert-to-px(60pt);
}

h3
{
    font-size: convert-to-px(30pt);
    margin-top: 25px;
    margin-bottom: 10px;
}


@include max-width-md
{
    h1
    {
        font-size: convert-to-px(40pt);
    }

    h2
    {
        font-size: convert-to-px(40pt);
    }

    h3
    {
        font-size: convert-to-px(25pt);
    }
}

@include max-width-sm
{
    h1
    {
        font-size: convert-to-px(30pt);
    }

    h2
    {
        font-size: convert-to-px(30pt);
    }

    h3
    {
        font-size: convert-to-px(20pt);
    }
}