// Copyright © 2017 seitenwind

@import "aside";
@import "body";
@import "headlines";
@import "html";
@import "input";
@import "links";
@import "lists";
@import "main";
@import "paragraph";
@import "pre";
@import "strong";

html,
body {
    *
    {
        box-sizing: border-box;

        outline-color: $color-primary;
    }
}

