// Copyright © 2017 seitenwind

@import "header-main";
@import "logo";
@import "navigation/navigation";
@import "mobile-menu/mobile-menu";

#header
{
    background: white;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    #header
    {
        background-color: rgba(255, 255, 255, 0.85);
        -webkit-backdrop-filter: blur(10px);
    }
}
