// Copyright © 2017 seitenwind

#header_main
{
    border: 0;

    &:before
    {
        content: "";
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        height: 10px;

        background: $color-primary;
    }
}