// Copyright © 2017 seitenwind

.logo,
.logo a
{
    height: 120px;
}


@include max-width-sm
{
    .responsive #top .logo
    {
        width: auto;

        a
        {
            display: block;
            vertical-align: top;
            height: auto;
        }
    }
}
