// Copyright © 2017 seitenwind

// Converts a pt size to a px size
//
// @param $size-in-pt: The size of the value to convert in pt
// @param $reference-size-in-pt: The reference size. If this is null, 14pt will be assumed
@function convert-to-px($size-in-pt, $reference-size-in-pt: ($font-size-default * 1pt)) {
    @return ($size-in-pt / $reference-size-in-pt) * $font-size-default * 1px;
}

// Converts a pt size to a px size
//
// @param $size-in-pt: The size of the value to convert in pt
// @param $reference-size-in-pt: The reference size. If this is null, 14pt will be assumed
@function convert-to-em($size-in-pt, $reference-size-in-pt: ($font-size-default * 1pt)) {
    @return ($size-in-pt / $reference-size-in-pt) * 1em;
}

// Converts a pt size to a percent size
//
// @param $size-in-pt: The size of the value to convert in pt
// @param $reference-size-in-pt: The reference size. If this is null, 14pt will be assumed
@function convert-to-percent($size-in-pt, $reference-size-in-pt: ($font-size-default * 1pt)) {
    @return ($size-in-pt / $reference-size-in-pt) * 100%;
}

