// Copyright © 2017 seitenwind

.blog,
.single-post
{
    .big-preview
    {

        a
        {
            position: relative;
            height: 300px;
        }

        img
        {
            width: 100%;
            height: auto;
            border-radius: 0;

            position: absolute;
            top: 0;
        }

        &.single-big
        {
            padding-bottom: 30px;
        }
    }
}

.image-overlay
{
    display: none !important;
}

.responsive .blog .big-preview
{
    @include max-width-sm
    {
        display: block;
        width: 100%;
        height: auto;

        a
        {
            max-height: 300px;
            height: auto;
            display: block;
            width: 100%;
        }

        img
        {
            position: static;
            top: 0;
            @include transform(none);
        }
    }
}