// Copyright © 2017 seitenwind

.entry-content-wrapper
{
    margin-bottom: 25px;

    .entry-content-header .post-title
    {
        font-size: convert-to-px(28pt);
        line-height: inherit;

        @include max-width-sm
        {
            font-size: convert-to-px(20pt);
        }
    }

    .entry-content
    {
        margin-top: 15px;
        letter-spacing: 1px;
        line-height: 1.375em;
        margin-bottom: 15px;

        white-space: pre-line;
    }
}
