.post-meta-infos
{
    top: 0;

    .date-container,
    .comment-container,
    .blog-categories,
    .blog-author,
    .text-sep
    {
        display: none;
    }

    .date-container
    {
        margin-top: 5px;
        display: block;
        text-transform: uppercase;
    }
}
