// Copyright © 2017 seitenwind

.post
{
    &:after {
        content: "";
        width: 250px;
        max-width: 100%;
        height: 3px;
        background: black;
        display: block;
        margin: 50px 0;
    }
}