// Copyright © 2017 seitenwind

#top #searchsubmit
{
    -webkit-appearance: none;
    -moz-appearance: none;

    border: 0;
    background: $color-light-grey;
    color: $color-primary;

    @include transition(500ms ease);

    cursor: pointer;

    &:hover
    {
        background: $color-primary;
        color: $color-paper;
    }
}