// Copyright © 2017 seitenwind

.e404-menu {
    .menu {
        list-style: none;
        margin: 20px 0;
        padding: 0;
        text-transform: uppercase;
        font-weight: 600;
        text-align: center;

        .menu-item
        {
            display: inline-block;

            &:after
            {
                content: "|";
                margin: 0 4px;

                color: $color-primary
            }

            &:last-child:after
            {
                content: none;
            }
        }
    }
}