// Copyright © 2017 seitenwind

.e404-content {
    color: white;
    text-align: center;
    max-width: 100%;
    width: 800px;
    margin: 100px auto;

    @mixin line($length, $color)
    {
        content: "";
        margin: 30px auto;
        width: $length;
        height: 3px;
        background: $color;
        display: block;
        max-width: 100%;
    }

    p.error-message {
        margin-bottom: 0;
        text-transform: uppercase;
    }

    h1 {
        font-size: convert-to-px(80pt);

        @include max-width-sm
        {
            font-size: convert-to-px(26pt);
            line-height: 1.5em;
        }
    }

    h2 {
        font-size: 36px;

        &:after
        {
            @include line(200px, currentColor);
        }

        @include max-width-sm
        {
            font-size: convert-to-px(24pt);
            line-height: 1.2em;
        }
    }

    hr
    {
        @include line(200px, currentColor);
        border: 0;

        display: inline-block;

    }

    .e404-details
    {
        font-weight: 500;

        font-size: convert-to-px(13pt);
    }

}