// Copyright © 2017 seitenwind

.error404 {
    .main_menu ul.av-main-nav>li.menu-item {
        a
        {
            color: white;

            &:hover
            {
                color: $color-primary;
            }
        }
        .sub-menu
        {
            background: url("../resources/images/background-section.jpg");
        }
    }
}