// Copyright © 2017 seitenwind

#top #wrap_all .avia-layerslider,
#top .avia-slideshow-arrows
{
    .prev-slide,
    .next-slide,
    .ls-nav-prev,
    .ls-nav-next
    {
        z-index: 5;
        background: none;
        opacity: 1;
        margin: 0;

        width: 54px;
        height: 37px;

        top: auto;
        bottom: 23px;

        &:before
        {
            background: $color-light-grey;
            color: $color-primary;
            border-radius: 0;

            line-height: 37px;
            font-size: 12px;

            @include transition(500ms ease);
        }

        &:hover
        {
            background: none;

            &:before
            {
                background: $color-primary;
                color: $color-light-grey;
            }
        }
    }

    .prev-slide,
    .ls-nav-prev
    {
        left: 0;
    }

    .next-slide,
    .ls-nav-next
    {
        right: 0;
    }

}

.avia-slideshow-dots
{
    display: none;
}
