// Copyright © 2017 seitenwind

.avia-layerslider
{
    &:before,
    &:after
    {
        position: absolute;
        z-index: 3;

        display: block;

        width: 23px;
        height: 522px; // max-height of the slider + height of the border

        content: ' ';

        background: white;
    }

    &:after
    {
        top: 0;
        right: 0;
    }
}
