// Copyright © 2017 seitenwind

@import "full-width-slider";
@import 'slider-nav-controls';
@import 'slider-border';

#top .avia-layerslider
{
    @include max-width-sm
    {
        display: none;
    }

    .ls-container .ls-inner:before {
        content: "";
        width: 100%;
        display: block;
        height: 11px;
        z-index: 2;
        position: absolute;
        bottom: -11px;
        background: $color-primary;
    }

    // makes images float above the border
    img.ls-l {
        z-index: 3;
        position: absolute;
    }

    &,
    .ls-container
    {
        &,
        .ls-inner
        {
            &,
            .ls-slide
            {
                overflow: visible;
            }
        }
    }
}
