// Copyright © 2017 seitenwind

.avia-testimonial-meta-mini {
    position: relative;
    float: right;
    font-style: italic;
    color: green;
    font-weight: 600;
    font-family: $font-family-work-sans;
    text-transform: uppercase;
}

.avia-testimonial-image img
{
    border-radius: 0;
}