// Copyright © 2017 seitenwind

#top .av_font_icon.av-icon-style-border {
    .av-icon-char
    {
        padding: 15px;
        border: 2px solid currentColor;

        background: currentColor;

        &:before
        {
            color: white;
        }

        &:hover:after
        {
            content: none;
        }
    }

    .av_icon_caption
    {
        font-weight: bold;
    }
}