// Copyright © 2017 seitenwind

.accordion h3
{
    outline: none;
}

.assortment-accordion
{
    display: none;

    &:before
    {
        display: block;
        content: "";
        font-family: $font-family-entypo-fontello;
        font-size: 24px;
        color: transparentize($color-text-default, 0.75);
        @include rotation();
    }

    &.ui-accordion
    {
        display: block;

        &:before
        {
            display: none;
        }
    }

    &.accordion
    {
        margin-top: 40px;
    }

    $image-width: 250px;
    $image-height: 100px;
    $header-padding: 30px;

    .ui-accordion-header
    {
        line-height: 30px;

        height: $image-height + 1;
        padding-right: $header-padding + 40px;

        margin: 0;

        cursor: pointer;

        span.accordion-title {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            display: block;
        }

        @include transition(color 500ms ease);

        img
        {
            display: inline-block;
            float: left;

            width: $image-width;
            height: $image-height;
            margin-right: $header-padding;
        }

        &:before
        {
            font-family: $font-family-entypo-fontello;

            position: absolute;
            right: $header-padding;

            display: block;

            content: ''; // "V"

            color: $color-text-default;

            line-height: $image-height;

            @include transition(transform 500ms ease);
            @include transform(scaleY(1.0));
        }

        &.ui-state-active:before
        {
            @include transform(scaleY(-1.0));
        }

        &.ui-state-active
        {
            color: $color-primary;
        }

    }

    .ui-accordion-content
    {
        padding-left: $image-width + $header-padding;

        p
        {
            padding-top: 15px;
            padding-bottom: 15px;
            margin: 0;
        }
    }

    @include max-width-sm
    {
        .ui-accordion-header
        {
            img
            {
                display: none;
            }
        }

        .ui-accordion-content
        {
            padding-left: 0;
        }
    }
}


.jobs-accordion {

    margin-top: 100px !important;

    h3 {

        img {

            display: none !important;
        }
    }

    .ui-accordion-content {

        padding-left: 0px !important;
    }
}