// Copyright © 2017 seitenwind

.avia_image
{
    border-radius: 0;
}

.av-image-caption-overlay-center
{
    opacity: 1;

    @include transition(opacity 500ms ease);

    &:hover
    {
        opacity: 0;
    }
}