// Copyright © 2017 seitenwind

@mixin button-style($color: black)
{
    font-family: $font-family-work-sans;
    font-size: convert-to-px(11pt);
    font-weight: 600;
    line-height: 42px;

    height: 45px;
    margin-top: 20px;
    margin-bottom: 0;
    padding: 0 25px;

    text-transform: uppercase;

    color: $color;
    border: 2px solid $color;
    border-radius: 0;
    background: none;

    @include transition(all 500ms ease);

    .avia_iconbox_title
    {
        padding-right: 10px;

        &:after
        {
            font-family: $font-family-entypo-fontello;
            font-size: convert-to-px(13pt);

            position: absolute;

            display: inline-block;

            margin-left: 5px;

            content: ''; // >

            color: $color;

            @include transition(all 500ms ease);
        }
    }

    &:hover
    {
        color: invert($color);
        background: $color;

        .avia_iconbox_title:after
        {
            color: invert($color);
        }
    }
}

body div .avia-button
{
    font-size: convert-to-px(14pt);

    @include button-style;
}

body div .alternate_color .avia-button
{
    font-size: convert-to-px(14pt);

    @include button-style($color-paper);
}

body div .avia-button.avia-size-small
{
    @include button-style;
}

body div .alternate_color .avia-button.avia-size-small
{
    @include button-style($color-paper);
}

body div .iconbox .avia-button.avia-size-small
{
    @include button-style;
}
