// Copyright © 2017 seitenwind

#top .fullsize .template-blog .big-preview
{
    a
    {
        max-height: 184px;

        @include max-width-md
        {
            max-height: 104px;
        }
    }

    img
    {
        height: auto;
        border-radius: 0;
    }
}

.image-overlay.overlay-type-extern
{
    position: absolute;
}

#top .flex_column .template-blog .post-entry
{
    .post-title
    {
        font-size: convert-to-px(20pt);
        padding-top: 20px;
        padding-bottom: 0;

        a
        {
            text-decoration: none;
        }
    }

    .post-meta-infos
    {
        display: none;
    }

    .entry-content-wrapper
    {
        text-align: left;

        @include text-style-default;

        font-size: 100%;
    }

    .post_delimiter
    {
        display: none;
    }

    .more-link
    {
        text-transform: uppercase;
        text-decoration: none;
        font-family: $font-family-work-sans;
        font-weight: 600;

        @include text-style-default;

        font-size: convert-to-px(11pt);

        .more-link-arrow
        {
            display: none;
        }
    }
}
