// Copyright © 2017 seitenwind

$hw-staff-padding: 15px;

.hw-staff-members-container
{
    padding: 1px $hw-staff-padding $hw-staff-padding;

    background: $color-light-grey;
}

.hw-staff-position
{
    font-size: convert-to-px(25pt);

    @include max-width-md
    {
        font-size: convert-to-px(18pt);
    }


    line-height: 30px;

    display: block;

    min-height: 30px;
    margin-top: 10px;
    margin-bottom: 0;
    padding: $hw-staff-padding 40px $hw-staff-padding $hw-staff-padding;

    cursor: pointer;

    background: $color-light-grey;

    @include transition(color 500ms ease);

    &:before
    {
        font-family: $font-family-entypo-fontello;

        position: absolute;
        right: $hw-staff-padding;

        display: block;

        content: ''; // "V"

        color: $color-text-default;

        @include transition(transform 500ms ease);
        @include transform(scaleY(1.0));
    }

    &.ui-state-active:before
    {
        @include transform(scaleY(-1.0));
    }

    &.ui-state-active
    {
        color: $color-primary;
    }
}

.hw-staff-member-container
{
    line-height: 22px;

    margin-top: 10px;
    margin-bottom: 10px;

    letter-spacing: 1px;

    &:before
    {
        display: block;

        width: 50px;
        max-width: 100%;
        height: 3px;
        margin: 20px 0;

        content: '';

        background: $color-text-default;
    }

    &:first-child
    {
        margin-top: 0;

        &:before
        {
            content: none;
        }
    }

    &:last-child
    {
        margin-bottom: 0;
    }
}

.hw-staff-name
{
    font-size: 17px;

    color: $color-primary;
}

.hw-staff-phone,
.hw-staff-email
{
    a
    {
        font-weight: 500;

        color: $color-text-default;

        &:hover
        {
            color: $color-primary;
        }
    }
}
