// Copyright © 2017 seitenwind

.hw-deal
{
    margin-bottom: 15px;

    span.hw-deal-button {
        font-size: 16px;
        float: left;
        margin-right: 5px;
        margin-top: -1px;
    }

    h3.hw-deal-headline {
        text-align: center;
        color: #009b4e;
    }

    .hw-deal-image {
        text-align: center;
        margin-bottom: 15px;

        img
        {
            border: 2px solid $color-text-default;

            max-width: 100%;
            width: 230px;
        }
    }
}
