// Copyright © 2017 seitenwind

.hw-eye-catcher-container
{

    @include max-width-md
    {
        padding: 20px 0;
    }

    .hw-eye-catcher-content-wrap
    {
        display: table;
        margin: auto;

        .hw-cell
        {
            display: inline-block;
            margin: 10px 10px;

            img
            {
                width: 95px;
            }

            .hw-eye-catcher-text
            {
                max-width: 650px;
                text-align: left;

                .hw-eye-catcher-headline
                {
                    font-size: 35px;
                    margin-bottom: 15px;
                }

                .hw-eye-catcher-subtitle
                {
                    white-space: normal;

                    a
                    {
                        color: $color-paper;
                        text-decoration: none;

                        &:hover
                        {
                            color: transparentize($color-paper, 0.25);
                        }
                    }
                }

            }

            .hw-eye-catcher-button
            {
                margin-top: 0;
                position: relative;
                bottom: 19px;

                @include max-width(1330px)
                {
                    bottom: 0;
                }
            }
        }
    }
}
