// Copyright © 2017 seitenwind

.hw-special-headline
{
    line-height: 100%;

    text-align: center;

    .first-line,
    .second-line
    {
        @mixin special-headline-font-size($size)
        {
            font-size: $size;
            height: $size;
            line-height: $size;
        }

        @include special-headline-font-size(convert-to-px(60pt));
        display: inline-block;

        @include max-width-md
        {
            @include special-headline-font-size(convert-to-px(40pt));
        }

        @include max-width-sm
        {
            @include special-headline-font-size(convert-to-px(30pt));
        }
    }

    .second-line
    {
        color: $color-primary;
    }

    &:after
    {
        position: static;

        display: block;

        width: 150px;
        height: 3px;
        margin: 35px auto;

        content: '';

        background: $color-text-default;
    }
}

.ls-slide .hw-special-headline
{
    text-align: left;
    &:after
    {
        content: none;
    }
}

.alternate_color .hw-special-headline:after
{
    background: $color-paper;
}
