// Copyright © 2017 seitenwind

#top .iconbox
{
    &.main_color
    {
        color: $color-text-default;
        background: url("../resources/images/background-iconbox.jpg") repeat;
    }

    &.iconbox_top
    {
        margin-top: 0;
        margin-bottom: 11px;

        .iconbox_icon
        {
            $icon-size: 78px;

            background: url("../resources/images/background-iconbox.jpg") repeat;

            top: -$icon-size/2;
            width: $icon-size;
            height: $icon-size;
            line-height: $icon-size;

            margin-left: -$icon-size/2;

            padding: 0;

            text-align: center;

            &:before
            {
                font-size: 45px;
            }
        }

        .iconbox_content_container
        {
            font-size: convert-to-px(15pt);
        }

        .iconbox_content_title
        {
            // min-height is set to the largest title among columns via javascript
            // see 'module-iconbox.ts' for details

            line-height: 1.20em;

            &:empty
            {
                display: none;
            }
        }
    }
}

.iconbox-column
{
    // using important here because the selector for colums overrides this value
    margin-top: 50px !important;
}