// Copyright © 2017 seitenwind

.content .sidebar .widget
{
    padding: 0;
    margin-top: 25px;
    margin-bottom: 25px;

    a
    {
        font-family: $font-family-work-sans;
        text-transform: uppercase;

        font-size: 14px;
        font-weight: 500;
    }
}
