// Copyright © 2017 seitenwind

.widget_recent_entries
{
    li
    {
        border-top-width: 1px;

        a
        {
            font-style: normal;
            text-transform: uppercase;
            font-family: $font-family-work-sans;
            font-weight: 500;
        }
    }
}