// Copyright © 2017 seitenwind

@import "shortcodes/shortcodes";
@import "wp-menu-image";

body, html {
    p {
        font-family: $font-family-montserrat;
    }

    @for $i from 1 through 6 {
        h#{$i} {
            font-family: $font-family-work-sans;
            text-transform: uppercase;
            font-weight: 600;
        }
    }
}