// Copyright © 2017 seitenwind

.main_menu ul
{
    list-style: none;
    padding: 0;

    li
    {
        padding: 0
    }
}

.main_menu ul.av-main-nav > li.menu-item
{

    a
    {
        text-transform: uppercase;
        color: $color-text-default;
        font-family: $font-family-work-sans;

        font-size: convert-to-px(15pt);

        &:hover
        {
            color: $color-primary;
        }

        @include transition(color 500ms ease);
    }

    .current-menu-item,
    &.current-menu-item,
    &:hover
    {
        & > a
        {
            color: $color-primary;
        }
    }

    .sub-menu
    {
        background: $color-paper;
        font-weight: 600;

        li
        {
            a
            {
                border-color: transparent;
            }
        }
    }
}