// Copyright © 2017 seitenwind

#top .sidebar .widget.hw-deals-widget
{
    padding: 20px;
    background: $color-light-grey;

    text-align: center;

    img
    {
        width: 100%;
        margin-top: 40px;
    }
}