// Copyright © 2017 seitenwind

#top #footer .widget_nav_menu
{
    margin: 15px 0 20px;

    ul
    {
        text-align: center;
    }

    li:before
    {
        font-size: convert-to-px(20pt);
        font-weight: bold;

        position: relative;
        top: 1px;

        display: inline-block;

        content: '|';

        color: $color-primary;
    }

    li:first-child:before
    {
        content: '';
    }

    // active
    ul:first-child > .current-menu-item > a,
    ul:first-child > .current_page_item > a,
    a
    {
        font-family: $font-family-work-sans;
        font-size: convert-to-px(20pt);
        font-weight: 600;

        display: inline-block;

        padding: 0 5px;

        letter-spacing: 1px;
        text-transform: uppercase;
    }

    .menu-item
    {
        display: inline-block;


        @include max-width-sm
        {
            display: block;

            &:before
            {
                content: "";
            }
        }
    }
}
