// Copyright © 2017 seitenwind

#top #footer .social-media-widget
{
    margin: 15px 0 40px;

    a.social-media-link
    {
        position: relative;

        display: inline-block;

        width: 51px;
        height: 51px;
        margin: 0 5px;
        padding: 0;

        border-radius: 999px;
        background: $color-primary;
        border: 2px solid $color-primary;

        @include transition(all 500ms ease);

        &:before
        {
            font-family: $font-family-entypo-fontello;
            font-size: convert-to-px(20pt);

            position: absolute;
            top: 50%;
            left: 50%;

            content: ' ';

            color: $color-paper;

            @include transform(translateX(-50%) translateY(-50%));
        }

        &:hover
        {
            border: 2px solid $color-paper;
        }

        &.social-media-facebook:before
        {
            content: '';
        }

        &.social-media-twitter:before
        {
            content: '';
        }

        &.social-media-email:before
        {
            content: '';
        }
    }
}
