// Copyright © 2017 seitenwind

#top #footer .textwidget
{
    @include text-style-default;

    font-family: $font-family-montserrat;
    font-weight: 300;

    a
    {
        text-decoration: none;
        color: $color-paper;

        &:hover
        {
            color: $color-primary;
        }
    }
}
