// Copyright © 2017 seitenwind

li.av-share-link {
    border: none;
}

#top .av-share-box ul {
    border: none;
}

.av-share-box ul li {
    border: none;
    display: inline-block;
}

.av-share-box ul li a
{
    padding: 0;
    font-size: 20px;
    margin: 0 7px;
    border-radius: 100px;
    background: $color-primary;
    color: white;
    display: block;
    width: 50px;
    height: 50px;
    line-height: 50px;
}

.avia-related-tooltip
{
    margin-left: 7px;
}
