// Copyright © 2017 seitenwind

.contact-table {
    margin: 10px 0;

    tr > td:nth-child(2) {
        padding-left: 10px !important;
    }

    a
    {
        color: $color-text-default;

        &:hover
        {
            color: $color-primary;
        }
    }
}
