// Copyright © 2017 seitenwind

// This element is used for hiding background elements that are used to calculate heights for actually displayed
// elements. Background calculation is much more efficient and less taxing for the CPU since it actually uses the GPU
// to calculate the height using the browser default rendering engine.
//
// See 'module-iconbox' for implementation details on how this element is actually used.
.hidden-clone
{
    position: absolute;
    top: 0;
    z-index: -1;
    visibility: hidden;
}
