// Copyright © 2017 seitenwind

span.citation-text
{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 22px;
    width: 100%;
    text-align: center;
    display: block;

    @include max-width-md
    {
        font-size: convert-to-px(16pt);
    }

    @include max-width-sm
    {
        font-size: convert-to-px(12pt);
    }
}

span.citation-author
{
    &:before
    {
        width: 50px;
        max-width: 100%;
        height: 3px;

        content: "";
        display: block;

        background: white;

        margin: auto auto 20px;
    }

    text-align: center;
    width: 100%;
    display: block;
    text-transform: uppercase;
    font-size: 14px;
}

span.citation-text:before
{
    content:"”";
}

span.citation-text:after
{
    content: "”"
}

