// Copyright © 2017 seitenwind

#scroll-top-link
{
    border-radius: 0;
    background:transparentize($color-primary, 0.15);
    @include transition(background 500ms ease);

    &.avia_pop_class
    {
        opacity: 1;
    }

    &:before
    {
        display: block;
        position: relative;
        color: $color-paper;
        content: "";
        background: url("../resources/vectors/scroll-top-arrow.svg") no-repeat;
        background-size: 100%;
        width: 22px;
        height: 22px;
        left: 50%;
        top: 50%;
        @include transform(translateX(-50%) translateY(-50%));
    }

    &:hover
    {
        background: $color-primary;
    }
}
