// Copyright © 2017 seitenwind

.title_container
{
    display: none;

    .breadcrumb
    {
        position: relative;
        text-align: center;
        display: block;
        width: 100%;

        .breadcrumb-trail
        {
            display: inline-block;
        }
    }
}

.single-post .title_container
{
    display: block;
}