// Copyright © 2017 seitenwind

.hw-eye-catcher-image
{
    width: 95px;
}

.hw-eye-catcher-image,
.hw-eye-catcher-text,
.hw-eye-catcher-button
{
    display: inline-block;
    float: left;
}

.hw-eye-catcher-content-wrap
{
    display: block;width: 710px;margin: auto;
}

.hw-eye-catcher-headline
{
    font-family: $font-family-work-sans;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold !important;
}

.hw-eye-catcher-text
{
    max-width: 500px;

    text-align: center;
}
