// Copyright © 2017 seitenwind

.postbox .inside,
#poststuff
{
    .hw-special-headline-title,
    .hw-special-headline-subtitle
    {
        font-size: 25px;
        font-weight: bold;

        padding: 0;

        text-align: center;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    .hw-special-headline-subtitle
    {
        color: $color-primary;
    }
}
